@tailwind base;
@tailwind components;
@tailwind utilities;


.img{
    position: relative;
    max-width: none;
    
}
.no-img{
    position: relative;
    max-width: 100%;
    
}
.green {
    color: #005309;   
}
.yellow{
    color: #ffa500;
}
.bg-green{
    background-color: #005309;
}
.ybb{
    border-bottom: 1px solid #ffa500;
}
.comic{
    font-family: 'Comic Sans MS', cursive;
}
.yb{
    border: 2px solid #ffa500;
    box-shadow: 2px 2px 3px #ffa500;
}
.bg-yellow{
    background-color: #ffa500;
}
.banger{
    font-family: "Bangers", system-ui;
}
.body{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
height: 10vh;
}
.miniimg{
    width: 300px;
    height: 350px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    position: absolute;
    width: 100px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;


}
.nomenu{
    
    display: none;
    position: absolute;
}
.bbottom{
    border-bottom: solid 1px gray;
    width: 100%;
    display: flex;
    justify-content: center;
}