@tailwind base;
@tailwind components;
@tailwind utilities;


.img{
    position: relative;
    max-width: none;
    
}
.no-img{
    position: relative;
    max-width: 100%;
    
}
.green {
    color: #005309;   
}
.yellow{
    color: #ffa500;
}
.bg-green{
    background-color: #005309;
}
.ybb{
    border-bottom: 1px solid #ffa500;
}
.comic{
    font-family: 'Comic Sans MS', cursive;
}
.yb{
    border: 2px solid #ffa500;
    box-shadow: 2px 2px 3px #ffa500;
}
.bg-yellow{
    background-color: #ffa500;
}
.banger{
    font-family: "Bangers", system-ui;
}
.body{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
height: 10vh;
}
.miniimg{
    width: 300px;
    height: 350px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    position: absolute;
    width: 3.5%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;


}
.nomenu{
    
    display: none;
    position: absolute;
}
.bbottom{
    border-bottom: solid 1px gray;
    width: 100%;
    display: flex;
    justify-content: center;
}
.true{
    width: 8%;
    position:absolute;
    top: 41.5%;
    left: 3.6%;
}
.false{
    position:absolute;
    top: 41.5%;
    left: 6%;
}
.true2{
    width: 8%;
    position:absolute;
    top: 60.5%;
    left: 78.5%;
}
.false2{
    position:absolute;
    top: 60.5%;
    left: 139.6%;
}
.true3{
    width: 8%;
    position:absolute;
    top: 47%;
    left: 74.6%;
}
.false3{
    position:absolute;
    top: 46.7%;
    left: 133%;
}
.none{display: none;}
.h{
    height: 6rem;
}
.icons{
    width: 35px;
    
}
.icon{
    height: 55px;
}
@media screen and (max-width:600px) {
    .h{
        height: 2rem;
    }
    .icons{
        width: 25px;
    }
    .icon{
        height: auto;
    }
    .menu{
        width: 20px;
        height: auto
    }
}
